<template>
    <div>
        <h2>Articles </h2>

        <form class="mb-3" @submit.prevent="addBook();">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Book Name" v-model="article.title">
            </div>

            <div class="form-group">
                <textarea class="form-control" placeholder="Description" v-model="article.description"></textarea>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </form>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li v-bind:class="[{disabled: !pagination.previous_page}]" class="page-item"><a class="page-link" @click="fetchBooks(pagination.previous_page)" href="#">Previous</a></li>
                <li class="page-item disabled"><a class="page-link text-dark" href="#">Page {{pagination.current_page}} of {{pagination.last_page}}</a></li>
                <li v-bind:class="[{disabled: !pagination.next_page}]" class="page-item"><a class="page-link" @click="fetchBooks(pagination.next_page)" href="#">Next</a></li>
            </ul>
        </nav>
        <div class="card card-body mb-2" v-for="article in this.articles" v-bind:key="article.id">


            <h2>{{article.id}}</h2>
            <h3>{{article.name}}</h3>
            <p>{{article.description}}</p>


            <hr>
            <button @click="editBook(article)" class="btn btn-warning mb-2">Edit</button>
            <button @click="deleteBook(article.id)" class="btn btn-danger">Delete</button>

        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                articles: [],
                article:{
                    id: '',
                    name: '',
                    description: '',
                },
                book_id: '',
                pagination: {},
                edit: false
            };
        },

        created(){
            this.fetchBooks()
        },

        methods:{
            fetchBooks(page_url){
                let vm  = this;
                page_url = page_url || '/api/book';
                fetch(page_url)
                    .then(res => res.json())
                    .then(res =>{
                        this.articles = res.data;
                        vm.makePagination(res.meta, res.links);
                       // console.log(articles);
                })
                .catch(err => console.log(err));
            },
            makePagination(meta, links){
                let pagination = {
                    current_page : meta.current_page,
                    last_page : meta.last_page,
                    next_page : links.next,
                    previous_page : links.prev
                }

                this.pagination = pagination;
            },
            deleteBook(id) {
                if (confirm('Are You Sure?')) {
                    fetch(`api/book/${id}`, {
                        method: 'delete'
                    })
                        .then(res => res.json())
                        .then(data => {
                            this.data = data;
                            alert('Article Removed');
                            this.fetchBooks();
                        })
                        .catch(err => console.log(err));
                }
            },

            addBook(){
                if(this.edit === false){
                  //add
                    fetch('api/book',{
                       method: 'post',
                       body: JSON.stringify(this.article),
                        headers: {
                           'content-type' : 'applicxation/json'
                        }
                    }).then(res =>res.json())
                        .then(data =>{
                            this.article.title = '';
                            this.article.description="";
                            alert("Book Added");
                            this.fetchBooks();
                        })
                        .catch(err => console.log(err));
                }else{
                    fetch('api/book',{
                        method: 'put',
                        body: JSON.stringify(this.article),
                        headers: {
                            'content-type' : 'applicxation/json'
                        }
                    }).then(res =>res.json())
                        .then(data =>{
                            this.article.title = '';
                            this.article.description="";
                            alert("Book Updated");
                            this.fetchBooks();
                        })
                        .catch(err => console.log(err));

                }
            },

            editBook(article){
                this.edit = true;
                this.article.id = article.id;
                this.article.article_id = article.id;
                this.article.title = article.name;
                this.article.description = article.description;

            }
        }
    };
</script>